body,
html {
  height: 100%;
}

$body-bg: rgb(16, 16, 55);
$link-color: rgb(0, 0, 0);
$link-hover-color: white;
$primary: #8C0303;
$secondary: #587E8C;


@import "partials/layout";
@import "partials/map";
@import "partials/modal";
@import "partials/forms";
@import "partials/nav";
@import "partials/icons";
@import "partials/games";
@import "~bootstrap/scss/bootstrap";