body,
html {
  height: 100%;
}

input {
  color: white;
}
//$body-bg: rgb(16, 16, 55); purple #a78eb8

$custom-dark: #2e2e2e;
$body-bg:$custom-dark;

$secondary: #644b77;

$dark: $custom-dark;
$customBackground: $body-bg;
$link-color: $dark;
$link-hover-color: $custom-dark;
$primary: #fd990d;
$font-family-sans-serif: 'Vollkorn',
serif;
$success: #4A8E41;
$danger: #ffad39fe;
$input-bg: white;

@import "partials/animation";
@import "partials/squad";
@import "partials/fonts";
@import "partials/layout";
@import "partials/map";
@import "partials/modal";
@import "partials/forms";
@import "partials/nav";
@import "partials/icons";
@import "partials/games";
@import "partials/chat"; 
@import "~bootstrap/scss/bootstrap";
