
input {
    padding: 10px;
    font-size: 1.2em;
  }

  .chat-button{
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $primary;
    color:$dark;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
  }
  
  
  .container{
    position: relative;
  }
  
  .register{
    position: fixed;
    padding:0px;
    top:35%;
    left: 23%;
    display: flex;
    flex-direction: row;
    width: 200px;
  }

  .chat-box{
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    height: 800px;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .member-list{
    width: 30%;
  }
  
  .chat-content{
    width:95%;
    margin-left: 10px;
    max-width: 700px;
    height: 100%;
  }
  
  .chat-messages{
    height: 70%;
    max-width: 700px;
    border: 1px solid white;
    overflow-y: scroll;
    overflow-anchor: auto; 
    display: flex;
    flex-direction: column-reverse;
  }
  
  .send-message{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .input-message{
    width:90%;
    border-radius: 10px;
    margin-top: 50px;
    color: black;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  .send-button{
    width:50%;
    background-color: $primary;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 50px;
  }
  .member{
    padding: 10px;
    background: $secondary;
    border:#000;
    cursor: pointer;
    margin: 5px 2px;
    color: white;
    font-size: 20px;
  }
  .member.active{
    background: $dark;
    color:#fff;
    font-size: 20px;
  }
  .member:hover{
    background: grey;
    color:#fff;
  }
  
  .avatar{
    background-color: $secondary;
    padding: 3px 5px;
    border-radius: 5px;
    color:#fff;
  }
  .avatar.self{
    color:#000;
    background-color: $danger;
    padding-top: 15px;
  }
  .message{
    padding:5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
  }
  .message-data{
    padding:5px;
    border: 1px solid green;
    color: white;
  }
  .message.self{
    justify-content: end;
  }