form {
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  border-radius: 10px;
}

.form--success {
  color: green;
}

.form--error {
  color: red;
}