/*Styling for the map, unsure if it should be here - glitches into navbar */
.leaflet-container {
  border: 1px solid black;
  
  width: 100vw;
  height: 100vh;
}

.join-button {
  height: 100px;
  width: 100px;
  line-height: 100px;
  z-index: 500;
  top: 85%;
  text-align: center;
}

.rules-icon {
  width: 50px;
  padding: 5px;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}