/*Styling for the map, unsure if it should be here - glitches into navbar */
.leaflet-container {
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  width: 80vw;
  height: 80vh;
}

.join-button {
  height: 50px;
  width: 50px;
  padding: 15% !important;
  z-index: 500;
  top: 85%;
}