.check-button {
  border-radius: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);


  &--content {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    margin: 0 auto;
  }

  &--close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
  }

  &--close:hover,
  &--close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}